<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/javascript" "application/rss+xml" "application/vnd.ms-fontobject" "application/x-font" "application/x-font-opentype" "application/x-font-otf" "application/x-font-truetype" "application/x-font-ttf" "application/x-javascript" "application/xhtml+xml" "application/xml" "font/opentype" "font/otf" "font/ttf" "image/svg+xml" "image/x-icon" "text/css" "text/html" "text/javascript" "text/plain" "text/x-component" "text/xml"
    </IfModule>
</IfModule>
