@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
}

button,
a {
  min-width: 44px;
  min-height: 44px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

header {
  display: inline-flex;
}

/* navigation */
.navbar-background {
  background-color: #f0e4d2;
}

.navbar {
  padding: 2vh 5vw;
}

.navbar-brand {
  font-size: 20px;
  color: #0b1519;
}

.navbar-item {
  font-family: 'Nokora', sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* content */

section {
  text-align: center;
  padding: 2vh 6vw;
  /* height: 100vh; */
}

/* footer */
footer {
  background-color: #f0e4d2;
  justify-content: space-around;
  margin: 0;
  color: #0b1519;
  margin-top: 4vh;
}

footer ul {
  justify-content: end;
}

footer ul li a {
  text-decoration: none;
}

.icon-wa {
  margin-right: 1vh;
}

.copyright {
  padding-left: 6vw;
}

.contact {
  padding-left: 6vw;
}

.contact a {
  text-decoration: none;
}

@media (max-width: 795px) {
  footer {
    flex-direction: column;
  }

  .copyright,
  .contact {
    padding: 0;
  }
}

/* @media (min-width:1000px) {} */

/* .scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    color: #fff;
    border: none;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .scroll-btn:hover {
    opacity: 1;
  } */